@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.body {
    width: 100%;
    min-height: 100svh;
    display: grid;
    place-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.box {
    height: 37.5rem;
    border-radius: 2rem;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
    background: center/cover no-repeat;
    position: relative;
    flex: 1;

    .box-title {
        position: absolute;
        bottom: 1rem;
        left: 1rem;
        transform: translateX(-50%);
        font-size: 1.25rem;
        opacity: 0;
        visibility: hidden;
    }

    &:nth-child(1) {
        background-image: url("../public/1.avif");
    }

    &:nth-child(2) {
        background-image: url("../public/2.avif");
    }

    &:nth-child(3) {
        background-image: url("../public/3.avif");
    }

    &:nth-child(4) {
        background-image: url("../public/4.avif");
    }

    &.box-active {
        flex: 4 !important;
    }
}
